<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= link_to "New Product", new_product_path, class: "btn btn-success" %>
<table class="table table-dark mb-0">
  <thead style="background-color: #393939;">
    <tr class="text-uppercase text-success">
      <th scope="col">Product Name</th>
      <th scope="col">Sku</th>
      <th scope="col">Price</th>
      <th scope="col">stock_quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td>
          <%= link_to "Show", product_path(product), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_product_path(product), class: "btn btn-secondary" %>
          <%= link_to "Destroy", product_path(product), data: { turbo_method: :delete}, class: "btn btn-danger" %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


